@tailwind base;
@tailwind components;
@tailwind utilities;

#learn {
    background-image: url("/assets/images/learn.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
   }

   #mentor {
    background-image: url("/assets/images/mentor.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
   }

   .quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .quiz p {
      font: 20px sans-serif;
  }

  .quiz ul {
      font: 25px sans-serif;
     
      padding-bottom: 20px;
  }

.quiz li {
    background-color: #7b8c52;
    margin-top: 8px;
    padding: 5px 20px;
    font-size: 22px;
    color: #f2f2f2;
   
}


.quiz li:hover {
  background-color:#485933;
  color: #f2f2f2;

}
  .no-bullets {
   
    text-decoration: none;
    list-style-type: none;
}

.timeleft {
    color: red;
    text-align: center;
}

   /* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    #name {
        font-size: 20px;
    }
}